<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp_bookLibrary.Properties.Settings.BookConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Book;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp_bookLibrary.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Library;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>